*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 3fr .5fr ;
    grid-template-areas:"header"
                        "main"
                        "footer";
    background-color: #eff4fd;
}
header{
    grid-area: header;
}
main{
    grid-area: main;
    overflow-y: visible;
}

footer{
    grid-area: footer;
}

.homepage{
    background-color: #eff4fd;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  
}
.left-side{
    margin: 20px;
    margin-left: 100px;
    padding-top: 32px;
    text-align: center;
}
.right-side img{
    min-width: 100px;
}
.left-side h1{
    margin-bottom: 20px;
    font-size: 2rem;
}

.left-side p{
    color: #555;
    margin-bottom: 3rem;
    font-size: 1.4rem;
}

.left-side a{
    cursor: pointer;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(36, 34, 34);
    text-transform: uppercase;
    border-radius: 10px;
    transition: .3s;
    font-size: 1.3rem;
}

.left-side > a:hover  .left-side > a:focus{
    color: blue;
    font-size: 1.4rem;
}
.right-side{
    margin: 20px;
}

@media screen and (max-width: 850px){
    .left-side{
        margin-left: 0;
    }
}



